#endingScreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#endingScreen-centerBox-container {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #fcc729;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#endingScreen-centerBox {
    text-align: center;
}

#endingScreen-outerRing {
    height: 640px;
    width: 640px;
    background-color: transparent;
    border-radius: 50%;
    border: 20px solid #337def;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}