#startingScreen-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#startingScreen-container:hover {
    cursor: default;
}


#starting-screen-text-description {
    font-style: italic;
}

#start-game-text {
    font-size: larger;
    margin-top: 50px;
}

#startingScreen-centerBox-container {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: #F7B15C;
    display: flex;
    justify-content: center;
    align-items: center;
}