#startingScreen-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F7B15C;
}

#starting-screen-text-description {
    font-style: italic;
}

#start-game-text {
    font-size: larger;
    margin-top: 50px;
}