#gamePage-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    overflow: auto;
}

#gameRendering-centerBox {
    background-color: #337def;
    border: solid #10489c;
    height: 700px;
    width: 600px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px #10489c;
}

#gameRendering-InGameData {
    position: absolute;
    top: 15%;
    left: -45%;
}

#inGameData-centerBox {
    border-radius: 50%;
    --radius: 300px;
    border: solid #995a0e;
    width: var(--radius);
    height: var(--radius);
    background-color: #fcc729;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px #995a0e;
}

#dataInfo {
    font-size: 25px;
    cursor: default;
}

#title {
    font-size: 60px;
    width: 800px;
    margin-bottom: 40px;
    background-color: #fcc729;
    border: solid #995a0e;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 20px #995a0e;
}

#gamePage-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameRendering-decoration {
    position: absolute;
    right: 3%;
    top: 40%;
}

#circle1, #circle2, #circle3 {
    border: solid black;
}

#circle1 {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: orange;
    top: -80px;
    box-shadow: 0 0 20px orange;
}

#circle2 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    top: 15px;
    left: 20px;
    box-shadow: 0 0 20px green;
}

#circle3 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    top: -15px;
    left: 0px;
    box-shadow: 0 0 20px red;
}